@using Microsoft.EntityFrameworkCore
@model List<string>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = "Вход";
}

<h1 class="text-danger">Ошибка</h1>

@foreach (var er in @Model)
{
    <p>@er</p>
}

