@using System.Collections
@using Mag.DAL.Entities
@using Microsoft.AspNetCore.Identity
@model Mag.Common.ViewModels.UserEditVM


@{
    ViewData["Title"] = "Редактировать пользователя";
}

<form method="post" class="mx-1 my-3" asp-antiforgery="true" asp-action="Edit">
    <div asp-validation-summary="All" class="text-danger"></div>
    @Html.HiddenFor(m => m.UserId)

    <div class="row my-1">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>

        <div class="form-group">
            <span class="text-danger" asp-validation-for="UserName"></span>
            <input id="form3Example1q" class="form-control" asp-for="UserName" />
            <label class="form-label" asp-for="UserName"></label>
        </div>

        <div class="form-group my-2">
            <select asp-for="SelectedRole" class="form-select" aria-label="Default select example">
                @foreach (string item in Model.Roles)
                {
                    <option value="@item">@item</option>
                }
            </select>
            <label>Роль пользователя</label>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary my-2 btn-lg my-3"
                asp-action="Edit">
            Применить изминения
        </button>
    </div>

</form>
<div>
    @Html.ActionLink("Вернуться к списку пользователей", "Index")
</div>